@import url('https://fonts.google.com/specimen/Poppins');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*{
    text-decoration: none;
    margin: 0;
    font-family: 'Poppins';
}

/* .background{
    background: rgb(33,77,19);
    background: linear-gradient(11deg, rgba(33,77,19,0.75) 66%, rgba(255,255,255,1) 66%);
} */ 

body{
  background-image: url(../IMG/background3.png);
  background-repeat: no-repeat;
  
}

.nav-toggle{
  display: none;
}

header{
  width: 100%;
  height: 10%;
  display: grid;
  grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  align-items: center;
  margin-top: 0.5%;
  margin-bottom: 1%;
} 

.logo{
  grid-column: 2 / 3;
}

nav{
  grid-column: 3 / 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
} 

.nav-toggle-label span{
  display: none;
}

nav ul{
  display: flex;
  list-style: none;
}

nav li{
  margin-left: 3em;
  margin-bottom: 0;
}


nav a{
  color: #000;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding-right: 2%;
  position: relative;
} 

nav a::before {
  content: '';
  display: block;
  height: 3px;
  background: black;
  position: absolute;
  top: -.25em;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transition: transform ease-in-out 250ms;
}

nav a:hover::before {
  transform: scale(1,1);
}



.banner{
    width: 100%;
    height: 200px;
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../IMG/banner.png);
    background-repeat: no-repeat;
    margin-bottom: 10%;
    
}



.banner h1{
    color: #fff;
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    padding-top: 3.5%;
    z-index: -1;
}

.content1-section{
    width: 100%;
    height: 15%;
    margin-bottom: 4%;
    display: grid;
    grid-template-columns:  1fr auto minmax(600px, 3fr) 1fr;
}
/* TILFØJ FLEXBOX */
.content1{
    color: #000;
    text-align: left;
    grid-column: 2 / 3;
}

.content1 h2{
    font-size: 22px;
    font-weight: 400;
}

.content1 h3{
    font-size: 16px;
    font-weight: 400;
}

.content1-picture{
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    
}  
/* ------------ */ 

/* #region slideshow */

.content2-section{
    width: 100%;
    height: 700px;
    display: grid;
    grid-template-columns:  1fr auto minmax(600px, 3fr) 1fr;
    margin-bottom: 4%;
    
}

/* TILFØJ FLEXBOX */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    grid-column: 3 / 3;
    grid-row: 1;
  }

  .mySlides {
    display: none;

  }

  .inline {
    float: left;
    width: 33.333333%;
}

/* .inline img{
  border-radius: 50%;
  
} */


  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: #111;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    
  }

  .next {
    right: 5px;
    border-radius: 3px 0 0 3px;
  }

  .prev{
      left: -13%;
      border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }


  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* #endregion */



.content2-section h2{
    font-size: 28px;
    font-weight: 500;
    color: #111;
    padding-bottom: 20px;
    
}

.content2-section h3{
    font-size: 16px;
    font-weight: 500;
    color: #111;
    line-height: 23px;
    padding-bottom: 20px;
    
}

.produkt-btn{
    display: block;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    font-size: 16px;
    border:2px solid #000;
    background-color: #2e3d2a;
    color: #fff;
    margin-left: 7%;
}

.produkt-btn:hover{
    background-color: #64A551;
    color: #EEF9FD;
    border:2px solid #EEF9FD;
}

.produkt-btn:active{
    transform: scale(1.1);
} 


.content3-section{
  width: 100%;
  height: 15%;
  display: grid;
  grid-template-columns:  1fr auto minmax(600px, 3fr) 1fr;
  padding-bottom: 5%;
} 


.content3{
  color: #000;
  text-align: left;
  grid-column: 2 / 3;
}

/* .content3-background{
  background: rgb(19,77,35);
  background: linear-gradient(353deg, rgba(19,77,35,0.7063200280112045) 65%, rgba(255,255,255,1) 65%);
} */

.content3 h2{
  font-size: 22px;
  font-weight: 500;
}

.content3 h3{
  font-size: 16px;
  font-weight: 400;
}

.content3-video{
  grid-column: 3 / 4;
  display: flex;
  justify-content: flex-end;
}  



footer{
  width: 100%;
  height: 450px;
 background-image: url(../IMG/footer.png);
 background-repeat: no-repeat;
}

.facebook, .mail, .youtube{
  display: none;
}

footer h2{
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  padding-top: 10%;
}

footer h3{
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}

.footer1{
  width: 20%;
  float: left;
  display: inline-block;
  margin-left: 20%;
  
}




.footer3{
  width: 20%;
  float: right;
  display: inline-block;
  margin-right: 20%;
}


@media only screen and (max-width: 1200px){

  body{
    background-image: url(../IMG/mobile-background.png);
  }

  .content1{
    grid-column: 3;
    text-align: center;
    
  }

  .content1-picture{
    grid-column: 3;
    padding-bottom: 10%;
  } 

  .content2-section{
    display: none;
  }

  .content3{
    grid-column: 3;
    text-align: center;
  }

  .content3-video{
    grid-column: 3;
  } 
} 

@media only screen and (max-width: 750px) { 

  .logo{
    display: none;
  }

/* #region mobil menu, might delete */
  /* nav{
    all: unset;
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: #64A551;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  } 
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  
  nav a:hover {
    color: #000;
  }
  
  .nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }

  .nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }


  .nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav-toggle-label span,
  .nav-toggle-label span::before, 
  .nav-toggle-label span::after{
    display: block;
    background: #000;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  } 

  .nav-toggle-label span::before, 
  .nav-toggle-label span::after{
    content: '';
    position: absolute;
  } 

  .nav-toggle-label span::before{
    bottom: 7px;
  }
  .nav-toggle-label span::after{
    top: 7px;
  }  */

  /* #endregion */


  .banner{
    background-image: none;
    background-color: #e1f3e4;
  } 
  .banner h1{
    color: #111;
  } 

  .content1-section{
    border-bottom: 2px #000 solid;
  }

  .content1-picture{
    display: none;
  }
  .content3-video{
    display: none;
  }
}


/* Benjamin's javascript */

.timeline ul {
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #f45b69;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #f45b69 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #f45b69;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #f45b69;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f45b69 transparent transparent;
  }
}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}